body {
    background-color: black;
}

.search-bar {
    display: block;
}

img {
    width: 300px;
}

p {
    font-family: "Roboto", "Arial", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    width: 300px;
}



.heading {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.author,
.time {
    color: #aaa;
    font-size: 14px;
}

.author {
    margin-bottom: 4px;
}

.logo-div,
.description-div {
    display: inline-block;
    vertical-align: top;
}


.description-div {
    width: 245px;
}

.logo-div {
    width: 50px;
}

.logo {
    width: 40px;
    border-radius: 50px;
}