.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
    background-color: white;
    border-bottom: 1px solid rgb(202, 200, 200);
}

.left-section {
    width: 169px;
    display: flex;
    align-items: center;
}

.center-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 660px;
    display: flex;
    align-items: center;
}

.right-section {
    width: 225px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hamburgerIcon {
    width: 24px;
    margin-right: 20px;
}

.YouTube-Logo {
    width: 93px;
}

.nav1,
.nav2,
.nav3 {
    width: 30px;
    margin-right: 20px;
}

.nav4 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.search-bar::placeholder {
    font-family: "Roboto", "Arial";
    font-size: 16px;
}

.search-bar {
    flex: 1;
    height: 34px;
    border: 1px #d3d3d3 solid;
    border-radius: 40px 0 0 40px;
    padding-left: 18px;
    width: 0;

}

.search-button {
    border-radius: 0 40px 40px 0;
    border: 1px #d3d3d3 solid;
    background-color: #f8f8f8;


}

.voice-button {
    margin-left: 10px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    border: none;


}

.search-icon {
    width: 50px;
    height: 31px;
}

.voice-icon {
    width: 25px;
    height: 25px;
}