img {
    width: 100%;
}



.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}



.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.heading {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.author,
.time {
    color: #6d6a6a;
    font-size: 14px;
}

.author {
    margin-bottom: 4px;
}

.logo {
    width: 40px;
    border-radius: 50px;
}